body { 
    background-color: #50c87c; 
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    color: white; 
  } 
  
  h1 { 
    font-size: 24px; 
    font-weight: bold; 
    color: rgb(255, 255, 255); 
    text-align: center; 
  } 
  
  h2 { 
    font-size: 20px; 
    font-weight: bold; 
    color: rgb(255, 255, 255); 
    text-align: center; 
  } 
  
  li { 
    font-size: 14px; 
    font-weight: normal; 
    color: rgb(255, 255, 255); 
    margin-bottom: 10px; 
  } 
  
  a { 
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    text-decoration: none; 
  } 

  .common {
    background-color: #35a86f;
    border: 2px solid #35a86f;
    position: absolute;
  }

  .header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
  }

  .leftmenu {
    top: 114px;
    left: 5px;
    width: 200px;
    height: 300px;
  }

  .main {
    top: 114px;
    left: 214px;
    right: 214px;
    height: 300px;
  }

  .rightmenu {
    top: 114px;
    right: 5px;
    width: 200px;
    height: 300px;
  }

  a {
    position: absolute;
    top: 60px;
    left: 250px;
  }

  .footer {
    top: 423px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 300px;
}